<div class="modal-header" style="background-color: #000000 !important">
  <h5 class="modal-title" id="captureModalLabel" style="color: orange;">{{title}}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
    style="background-color: orange;"></button>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col">
      <div class="col-9">
        <input [(ngModel)]="search_input" (keyup)="filter_accounts()" placeholder="Search by Account ID" value="" class="account-search"/>
        <input [(ngModel)]="search_name_input" (keyup)="filter_account_names()" placeholder="Search by Account Name" value="" class="account-search"/>
        <select [(ngModel)]="status_dropdown" (change)="filter_account_status()">
          <option value="0">All</option>
          <option value="1">With Administrator</option>
          <option value="2">With Preparer</option>
          <option value="3">With Reviewer</option>
          <option value="4">Completed</option>
        </select>
        &nbsp;
        <button (click)="reset()">Refresh</button>

      </div>
      <div class="row">
        <progress *ngIf="loader===true" class="loading">Loading...</progress>
      </div>
          <table class="table table-striped table-bordered table-sm table-responsive-xl table-font">
            <thead class="table-dark">
            <tr>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="account_id">Account ID</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="account_name">Account Name</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="balance">Balance</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="foreignBalance">Foreign Balance</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="status">Status</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="risk">Risk</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="currency">Currency</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="preparer">Preparer</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="reviewer">Reviewer</th>
              <th scope="col" [appSort]="bulkAccounts" data-order="desc" data-name="createdAt">Created</th>
              <th>
                <button (click)="checkAllOptions()"
                        class="btn-link" type="button">Select All
                </button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let item of bulkAccounts | paginate: { itemsPerPage: countCustomer, currentPage: pageCustomer }">
              <td>{{item.account_id}}</td>
              <td>{{item.account_name}}</td>
              <td>{{item.balance | currency :' '}}</td>
              <td>{{item.foreignBalance | currency :' '}}</td>
              <td>{{item.status}}</td>
              <td>{{item.risk}}</td>
              <td>{{item.currency}}</td>
              <td>{{item.preparer}}</td>
              <td>{{item.reviewer}}</td>
              <td>{{dateFormat(item.createdAt)}}</td>
              <td>
                <input *ngIf="userId!=item.reviewer_id" (change)="changeHandler(item)"
                       [(ngModel)]="item.certify"
                       [checked]="getSelection(item)"
                       [value]="item.account_id"
                       type="checkbox">
              </td>
            </tr>
            </tbody>
          </table>
      <div class="row">
        <div class="col">
          <div class="float-right">
            <pagination-controls
              (pageChange)="pageCustomer = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-between">

  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
  <div class="file-upload">
    {{fileName || "No file uploaded yet."}}
    <button mat-mini-fab color="primary" class="btn btn-secondary" (click)="fileUpload.click()">
      Load Workpaper
    </button>
  </div>

  <button type="button" class="btn btn-primary" (click)="submitForReviewModal()">Save and submit to reviewer
  </button>
</div>
<footer class="footer" style="background-color: #000000 !important">
  <span class="row justify-content-center" style="color: white;">All Rights Reserved 2023 @ReconcileIT</span>
</footer>
